body {
    background-image: url(knopps-photo.jpg);
    background-repeat: repeat;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
    text-shadow: -1px 0 1px rgb(253, 183, 25), 0 1px 1px rgb(253, 183, 25), 1px 0 1px rgb(253, 183, 25), 0 -1px 1px rgb(253, 183, 25);
    /* text-shadow: 1px 1px 3px rgb(253, 183, 25); */
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90vw;
    max-width: 700px;
    gap: 0px;
    margin: auto;
}

.board div {
    background-color: white;
    border: 2px solid black;
    aspect-ratio: 1 / 1;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(0.6rem, 1vw, 1.2rem);
    line-height: normal;
    white-space: normal;
    overflow-wrap: break-word;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button {
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1.75vw auto;
    padding: 5px;
    font-size: x-large;

    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

button:hover {
    background-color: rgb(212, 212, 212);
    
}

button:active {
    background-color: white;
}