body {
    background-image: url(knoppslmao.jpg);
    background-size: 854px 534px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    gap: 0px;
    justify-content: center;
}

.board div {
    background-color: white;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;

    line-height: normal;
    white-space: normal;
    overflow-wrap: break-word;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}