body {
    background-image: url(knopps-photo.jpg);
    background-repeat: repeat;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* padding: 10px; */
    width: 90vw;
    max-width: 800px;
    gap: 0px;
    margin: auto;
}

.board div {
    background-color: white;
    border: 2px solid black;

    aspect-ratio: 1 / 1;
    /* width: 150px;
    height: 150px; */

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(0.6rem, 1vw, 1.2rem);
    line-height: normal;
    white-space: normal;
    overflow-wrap: break-word;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

